/.idea
/addition task.zip
/calculator task.zip
/classes-and-objects.py
/Esther's python addition task.py
/Esther's python calculator task.py
/Esther's python count and return task.py
/main.py
/reading text from file.py
/venv